* {box-sizing: border-box;}

	a {color: gold;}

@font-face {font-family: "TitleFont";
            src: url(fonts/VIVALDII.TTF);
			}
	   
	   body {margin: 0px;
	         font-size: 100%;
			 background-color: #0b710b;}
   
       main {display: block;
	         width: 100%;
			 height: 100%;
			 margin-left: auto;
			 margin-right: auto;
			 margin-top: 0px;
			 background-color: #0b710b;
			}
   
       header {background-image: linear-gradient(to right, #0b710b 12%, forestgreen 100%);
	           width: 100%;	
               height: 100%;		   
			   margin-top: 0px;
			   margin-bottom: 0px;
			   }
			   
		#titleSwirl {margin-top: 2%;
		             margin-bottom: 1%;
		             float: left;}
					 
		
					 
		.maintitle {font-family: TitleFont;
		            color: gold;
					font-size: 7em;
					text-shadow: 3px 3px 1px black;
					margin: 0px;
		            }
					
		.subtitle {font-family: TitleFont;
		             color: gold;
					 font-size: 4em;
		             text-shadow: 3px 3px 1px black;
					 margin-left: 100px;
					 margin-top: 0px;
					 margin-bottom: 0px;
					 margin-right: 0px;
					 padding-bottom: 1%;
					 }
			  
		#titlelink {text-decoration: none;
		            outline: 0;}
					
		nav {display: flex;
		     flex-wrap: wrap;
		     flex-direction: row;
			 justify-content: space-around;
			 }
   
       .topnav:link {width: 25%;
                     text-decoration: none;
		             outline: 0;
					 text-align: center;
				     font-family: arial, sans-serif;
				     font-weight: bold;
					 color: black;
                      font-size: 1.3em;
                      padding: 10px;
					  background-color: springgreen;
					  border-top: 5px solid black;
					  border-bottom: 5px solid black;
					  border-right: 3px solid black;
					  border-left: 3px solid black;
					  transition: background-color 0.5s;
					  
									   }
									   
		.topnav:visited {color: black;}
		
		.topnav:hover {background-color: forestgreen;
		               color: gold;
					   border-top: 5px solid black;
					   border-bottom: 5px solid black;
					   border-right: 3px solid black;
					   border-left: 3px solid black;}
					   
		a.topnav.current {background-color: gold;
		                  color: black;}
						  
		@media screen and (max-width: 663px) {
			
			nav {display: flex;
			flex-direction: column;}
			
			.topnav:link {width: 100%;
			              border-top: 5px solid black;
						  border-bottom: 0px;}
						  
			.topnav:link:last-child {border-bottom: 5px solid black;}
			
			.contact {text-align: center;
			          font-size: 1em;}
		}
		
		   
	    footer {background-color: forestgreen;
	            width: 100%;
				height: 100%;
			    margin-left: 0px;
			    margin-right: 0px;
				margin-bottom: 0px;
			    display: block;
				border-top: 3px solid black;
				margin-top: 0px;
				clear: both;
				}
				
	    #copy {font-family: Arial, Sans-serif;
		       font-size: 1.3em;
			   text-align: center;
			   padding: 0.5em auto;
			   padding-bottom: 30px;
			   margin: 0px;
		      }
			  
		address {font-style: normal;
		          font-family: Arial, "sans-serif";
				  font-weight: bold;
		          font-size: 1.3em;
				  text-align: center;
				  margin-bottom: 60px;
				  }
				  
	    #contact-title {font-size: 1.5em;}
		
		.contact {overflow-wrap: break-word;
		          padding-left: 30px;
				  padding-right: 30px;}
	    
		